{% extends 'shop/basic.html' %}

{%  block title%}My Awesome Cart Payment{% endblock %}

{%  block body %}

<div class="container">
    {{response}}
    <div class="col my-4">
        <h2>Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        ORDER SUCCESS
        {% else %}
        ORDER FAILURE
        {% endif %}
    </div>
</div>
{% endblock %}

{%  block js %}
<script>
$(document).ready(function(){
    if( $("#p > p.Orderstatus").val('ORDER SUCCESS')) {
    alert('Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/shop";
    }
});

</script>

{% endblock js %}